.list ul.project-list:not(.pagination) li {
  display: block;
  margin: 0 0 3.2rem 0;
}

.project-description {
  margin: 0.6rem 0 0;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
}

.project-meta,
.project-tech {
  margin: 0.4rem 0 0;
  font-size: 1.4rem;
  line-height: 1.5;
  opacity: 0.8;
}

.project-meta .separator {
  margin: 0 0.6rem;
}

.project-external {
  font-weight: 400;
}

.page.project header {
  margin-bottom: 2.4rem;
}

.page.project .project-description {
  margin-top: 1.2rem;
}
